# Server Configuration
PORT=5000

# MongoDB Configuration
# Replace with your local MongoDB URI or MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/connectsphere

# JWT Security
# Generate a strong, secure secret key
JWT_SECRET=your_jwt_secret_key_here

# Client URL (for CORS setup)
CLIENT_URL=http://localhost:5173

# Cloudinary Credentials (for Profile Pic and Image Sharing)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
